branches:
  only:
    - develop

language: node_js
node_js: "node"

cache:
  yarn: true
  directories:
    - node_modules

install:
  - yarn

script:
  - yarn run build

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local-dir: dist
  target-branch: master
  on:
    branch: develop
